body {
    background: #eef2f3;
    font-family: Arial;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 380px;
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 5px #aaa;
    display: flex;
}

.card img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
}

.info h2 {
    margin: 0;
}

@media (max-width: 600px) {
    .card {
        width: 95%;
    }
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-btn {
    background: #007bff;
    color: white;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.admin-btn:hover {
    background: #0056b3;
}
