<!DOCTYPE html>
<html>
<head>
    <title>Login Admin</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="container small-box">
    <h2>Acceso Administrador</h2>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <input class="input" name="username" placeholder="Usuario">
        <input class="input" name="password" type="password" placeholder="Contraseña">
        <button class="btn">Entrar</button>
    </form>
</div>

</body>
</html>
